name: Selenium Automation Tests

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  schedule:
    # Daily run at 6:30 AM IST (01:00 UTC)
    - cron: "0 1 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Run Selenium tests (Headless)
        env:
          CI: true
        run: |
          pytest -v
